.Board {;
}

.Board-row {
  display: flex;
}

.Board-cell {
  border-top: 1px #666 solid;
  border-left: 1px #666 solid;
  height: 5px;
  width: 5px;
}

.Board-cell:last-child {
  border-right: 1px #666 solid;
}

.Board-row:last-child .Board-cell {
  border-bottom: 1px #666 solid;
}

.Board-cell--filled {
  background-color: black;
}
